# ── GKE ──────────────────────────────────────────────────────────────────────
GKE_CLUSTER=
GKE_PROJECT=
GKE_REGION=us-central1

# ── Base de données ───────────────────────────────────────────────────────────
DB_USER=user
DB_PASSWORD=
DB_IMAGE_NAME=imagedb
DB_PDF_NAME=pdfdb
